@charset "ISO-8859-1";

/* TODO à retirer en fin de structuration de page
* {
	border: black solid 1px;	

}
*/
body {
	
	margin: 0;
	padding: 0;
	background: url(piggy-2889041_1920.jpg) no-repeat center fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

.row {
	padding: 10px;
}

section {
	height: 600px; font-family : calibri;
	padding-top: 50px;
	border-top: grey solid 1px;
	font-family: calibri;
}

footer {
	font-family: calibri;
	border-top: grey solid 1px;
	height: 80px;
	background-color: lightgrey;
	padding-top: 20px;
}

.container-fluid {
	padding-left: 10px;
	text-align: center;
}

.navbar {
	margin-bottom: 0px;
	position: fixed;
}

.btn {
	background-color: lightblue;
	color: grey;
}

p {
	font-size: 20px;
	color: grey;
}

#colonne-right {
	background-color: white;
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	border-radius: 10px;
	border: grey solid 1px;
}